body {
    background-image: linear-gradient(to right, #0ecaf4, #e5e1b7);
  }
  * {
    font: Lato;
  }
  .mainMenu{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
  }
  #header {
    background-color: #3163b2;
    width: inherit;
    height: 40px;
    color: white;
    text-transform: uppercase;
    clear: both;
    font-weight: bold;
  }
  .alignLeft {
    margin: 10px;
    float: left;
  }
  .alignRight {
    float: right;
    margin: 10px;
  }
  input {
    width: 340px;
    background-color: #dee4ed;
    height: 30px;
    border: 0px;
    padding-left: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
  }
  .inputInFocus {
    margin-left: auto;
    margin-right: auto;
    width: 336px;
    height: 26px;
    background-color: white;
    color: #3163ff;
    outline: 0px;
    border-width: 2px;
    border-style: solid;
    border-color: #3163b2;
  }
  .oneToDo {
    width: 350px;
    height: 16px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    max-height: 16px;
  }
  .sideBox {
    padding: 10px;
    background-color: red;
    color: white;
    display: none;
  }
  .task {
    height: 36px;
    padding-left: 10px;
    font: Lato;  
  }
  .greyBackground {
    background-color: #dee4ed;
  }
  .whiteBackground {
    background-color: white;
  }