*{
    margin: 0;
    padding: 0;
  }
  body {
    margin: 0;
    font:normal 75% Arial, Helvetica, sans-serif;
  }
  #out{
    display: flex;
    flex-direction: column;
    flex-flow: column;
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(41deg,#3d45b3,#eb4f6f) ,url('img/2.jpg');
    /*background-image: url("https://www.google.co.in/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjM582sp_fUAhVBrI8KHaGLAqIQjRwIBw&url=http%3A%2F%2Fwww.wallpapersbyte.com%2Fnature%2Fdownload-hd-mountains-night-sky-blurred-stars-light-show-wallpaper%2F&psig=AFQjCNGMAmlL0wlTqJQQhZwJnhKuwNDGpQ&ust=1499520046141224");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
  }
  #name h1{
    position: absolute;
    font-size: 100px;
    font-family: 'myFancyFont', Times, serif;
    color: #f1f1f1;
    top: 250px;
    left: 190px;
  }
  @media only screen and (max-width: 920px){
    #name h1{
      position: absolute;
      font-size: 50px;
      font-family: 'myFancyFont', Times, serif;
      color: #f1f1f1;
      top: 150px;
      left: 50px;
    }
    #name .element0{
      left: 50px;
      font-size: 30px;
      top: 250px;
    }
  }
  
  .element0{
    position: absolute;
    text-decoration: underline;
    font-size: 45px;
    color: #ffffff;
    top: 350px;
    left: 190px;
  }
  h1,h2,h3,h4,h5,h6{
    font-family:Poppins;
  }
  
  p{
    font-family:Roboto;
  }
  
  .navbar-inverse{
    background:linear-gradient(41deg,#3d45b3,#eb4f6f);
    border:0;
    font-family:Poppins;
  }
  
  .navbar-brand{
    font-size:25px;
    color:White !important;
    font-weight:bold;
  
  }
  #navbar ul li{
    color: White !important;
    font-size: 20px;
    font-weight: bold;
  }
  hr.style-eight {
      padding: 0;
      border: none;
      border-top: medium double #333;
      color: #333;
      text-align: center;
  }
  hr.style-eight:after {
      content: "§";
      display: inline-block;
      position: relative;
      top: -0.7em;
      font-size: 1.5em;
      padding: 0 0.25em;
      background: white;
  }
  .icons{
    display:inline-block;
    position: absolute;
    top: 400px;
    left: 500px;
    float: left;
    width:100%;
    margin:0;
  
  }
  .lin, .git, .twit, .mail, .res{
    color:#ffffff;
  }
  
  .ico{
    border: 4px double white;
    border-radius: 100%;
    display: inline-block;
    font-size: 20px;
    width: 75px;
    height: 75px;
    padding: 13px;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 22px 8px;
  }
  
  .ico-res{
    border: 4px double white;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 24px 18px 18px 18px;
    position: relative;
    background: transparent;
    transition: all 0.2s ease;
    text-decoration: none;
    margin: 0px 8px;
  }
  
  .ico:hover{
    transform: translateY(-25px);
  }
  
  .ico-res:hover{
    transform: translateY(-25px);
  }
  .ico:hover .fb{
    color:white;
  
  }
  
  .ico:hover .lin{
    color:white;
  }
  .ico:hover .git{
    color:white;
  }
  .ico:hover .mail{
    color:white;
  }
  .ico:hover .twit{
    color:white;
  }
  .ico-res:hover .res{
    color:white;
  }
  #showcase{
    background-attachment: fixed;
  }
  #showcase h1{
    font-size:50px;
    margin-bottom:20px;
  }
  
  #showcase img{
    width:90%;
    margin-left:60px;
  }
  
  #showcase .showcase-right{
    margin-top:90px;
  }
  
  #testimonial{
    background:#bed3f4;
    padding: 20px 0 30px 0;
    text-align:center;
    margin-top:40px;
  }
  
  #testimonial p{
    font-size:32px;
    font-family: 'Josefin Sans';
    color:#000;
  }
  
  #testimonial p.customer{
    font-size:20px;
    color:#666;
  }
  
  #info1 .info-right{
    margin-top: 90px;
  }
  #info2 {
    margin: 20px 0 60px 0;
  
  }
  #contact{
    /*background: url('1212.jpg');*/
    background: #636568;
    padding: 40px;
    color: #fff;
    border-top: #333 7px solid;
    border-top: #333 7px solid;
  }
  #footer{
    padding: 30px;
  
  }
  .showcase-left img{
    height: 600px;
    width: 50px;
    background-size: cover;
    background-attachment: fixed;
  }
  
  .mySlides{
    height: 560px;
  }
  .gallery{
    margin-left: 600px;
  }
  .progress{
    width: 50;
  }